# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
.kotlin/

# Android
local.properties
captures/
*.apk
*.aab
*.ap_
*.dex
.externalNativeBuild/
.cxx/

# Signing
*.jks
*.keystore
keystore.properties

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Logs
*.log

# Node (firebase tooling)
node_modules/
firebase-debug.log
database-debug.log
ui-debug.log
